
@{
    var db = new web_nag_cao.Models.Web_nag_caoEntities();
    var ketqua = (from hd in db.HoaDons
                  join ctHD in db.ChiTietHoaDons on hd.MaHD equals ctHD.MaHD
                  join KH in db.KhachHangs on hd.MaKh equals KH.MaKH
                  join sp in db.SanPhams on ctHD.MaSP equals sp.MaSP
                  select new
                  {
                      hd.MaHD,
                      KH.TenKH,
                      sp.TenSP,
                      sp.GiaBan,
                      ctHD.SoLuong,
                      sp.HinhAnh,
                  }).ToList();
    var count = (from hd in db.HoaDons
                 select hd).Count();

}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="~/Content/css/base.css">
<link rel="stylesheet" href="~/Content/css/main.css">
<link rel="stylesheet" href="~/Content/fonts/fontawesome-free-6.4.0-web/css/all.min.css">
<link rel="stylesheet" href="~/Content/fonts/themify-icons/themify-icons.css">

<div class="grid">
    <div class="header-with-search">
        <div class="header__logo">
            <a href="/" title="CÔNG TY CỔ PHẦN XÂY DỰNG VÀ ĐẦU TƯ THƯƠNG MẠI HOÀNG HÀ">
                <img class="header__logo-img" src="~/Content/css/img/logo-text.png" alt="CÔNG TY CỔ PHẦN XÂY DỰNG VÀ ĐẦU TƯ THƯƠNG MẠI HOÀNG HÀ">
            </a>
        </div>

        <div class="header__search">

            <div class="header__search-input-wrap">
                <form action="@Url.Content(ViewBag.SearchAction)">
                    <input type="text" class="header__search-input"
                           value="@ViewBag.search"
                           name="search"
                           id="search"
                           placeholder="Hôm nay bạn cần tìm gì?">
                    <button class="header__search-btn" type="submit">
                        <i class="header__search-btn-icon ti-search"></i>
                    </button>
                </form>
            </div>
        </div>

        <div class="header__order-check">
            <a href="" class="header__order-link">
                <!-- <i class="header__order-icon fa-solid fa-truck-fast"></i> -->
                <i class="ti-truck header__order-icon"></i>
                <span class="header__order-text">
                    Kiểm tra đơn hàng
                </span>
            </a>
        </div>

        <div class="header__cart">
            <div class="header__cart-wrap">
                <!-- <i class="header__cart-icon fa-solid fa-cart-shopping"></i> -->
                <i class="ti-receipt header__cart-icon"></i>
                <span class="header__cart-notice">@count</span>
                <!-- No cart : header__cart-list-no-cart -->
                <div class="header__cart-list">
                    <img src="~/Content/css/img/no-item.png" alt="" class="header__cart-no-cart-img">
                    <span class="header__cart-list-no-cart-msg">
                        Chưa có sản phẩm
                    </span>
                    <h4 class="header__cart-heading">Sản phẩm đã thêm</h4>
                    <ul class="header__cart-list-item">
                        <!-- Cart item -->
                        @foreach (var item in ketqua)
                        {
                            <li class="header__cart-item">
                                @if (!string.IsNullOrEmpty(item.HinhAnh))
                                {
                                    <img src="@Url.Content(item.HinhAnh)" alt="" class="header__cart-img">
                                }
                                else
                                {
                                    <span>không có thông tin</span>
                                }
                                <div class="header__cart-item-info">

                                    <div class="header__cart-item-head">
                                        <h5 class="header__cart-item-name">@item.TenSP</h5>
                                        <div class="header__cart-item-price-wrap">
                                            <span class="header__cart-item-price">@(item.GiaBan != null ? item.GiaBan.Value.ToString("N0") + "đ" : "Không có thông tin")</span>
                                            <span class="header__cart-item-multiply">x</span>
                                            <span class="header__cart-item-qnt">@item.SoLuong</span>
                                        </div>
                                    </div>


                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav class="header__navbar">
        <ul class="header__navbar-list">
            <li class="header__navbar-item ">
                <a href="@Url.Action("Index", "Admin")" class="header__navbar-item-link">
                    <!-- <i class="fa-regular fa-address-card header__navbar-icon"></i> -->
                    <i class="ti-home header__navbar-icon"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="header__navbar-item header__navbar-item-main">
                <a href="@Url.Action("ThemSP", "Admin")" class="header__navbar-item-link">
                    <!-- <i class="fa-solid fa-mobile-screen-button header__navbar-icon"></i> -->
                    <i class="ti-mobile header__navbar-icon"></i>
                    <span>Thêm sản phẩm</span>
                </a>
            </li>
            <li class="header__navbar-item">
                <a href="@Url.Action("HienThiKH", "KhachHang")" class="header__navbar-item-link">
                    <!-- <i class="fa-sharp fa-solid fa-screwdriver-wrench header__navbar-icon"></i> -->
                    <i class="ti-id-badge header__navbar-icon"></i>
                    <span>Khach Hang</span>
                </a>
            </li>
            <li class="header__navbar-item">
                <a href="@Url.Action("hienThiHD", "HoaDon")" class="header__navbar-item-link">
                    <!-- <i class="fa-solid fa-newspaper header__navbar-icon"></i> -->
                    <i class="ti-receipt header__navbar-icon"></i>
                    <span>Hóa đơn</span>
                </a>
            </li>

            <li class="header__navbar-item">
                <a href="@Url.Action("logout", "Admin")" class="header__navbar-item-link">
                    <div class="header__navbar-item-link js-login">
                        @*<i class="ti-user header__navbar-icon"></i>*@
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <span>Đăng xuất</span>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div>
    @RenderBody()
</div>